@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red: #ed4a38;
    --green: #108a00;
    --gray: #e0deda;
    --pink: #e0cdc6;
    --concrete: #565653;
    --light-gray: #c5c4c0;
    --dark-gray: #9b9b9b;

    --radius: 0.3rem;
  }
}

@layer base {
  html {
    color-scheme: dark;
    scrollbar-gutter: stable;
  }

  * {
    @apply ibm-plex-mono border-border element-custom-scrollbar text-text box-border;
  }

  html,
  body {
    @apply custom-scrollbar font-sans text-white antialiased;
  }

  ul {
    @apply list-disc;
  }

  ul > li {
    @apply ml-5;
  }

  body > div {
    display: block !important;
  }
}

@layer components {
  .separator {
    @apply flex h-[20px] flex-row border-x md:h-[40px] 2xl:h-[60px];

    .left {
      @apply w-1/2 border-b border-r border-t;
    }

    .right {
      @apply w-1/2 border-b border-t;
    }
  }

  .hideX {
    @apply border-x-0;
  }

  .hideL {
    @apply border-l-0;
  }

  .hideR {
    @apply border-r-0;
  }

  .hideTR {
    .right {
      @apply border-t-0;
    }
  }

  .hideBR {
    .right {
      @apply border-b-0;
    }
  }

  .hideTL {
    .left {
      @apply border-t-0;
    }
  }

  .hideBL {
    .left {
      @apply border-b-0;
    }
  }

  .hideC {
    .left {
      @apply border-r-0;
    }
  }

  .hideT {
    .left {
      @apply border-t-0;
    }

    .right {
      @apply border-t-0;
    }
  }

  .hideB {
    .left {
      @apply border-b-0;
    }

    .right {
      @apply border-b-0;
    }
  }

  .ibm-plex-mono {
    font-family: 'IBM Plex Mono', monospace;
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: black;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--dark-gray);
      border-radius: 1px;
    }

    @supports not selector(::-webkit-scrollbar) {
      body {
        scrollbar-color: gray transparent;
      }
    }
  }

  .element-custom-scrollbar {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--gray);
      border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--dark-gray);
      border-radius: 1px;
    }

    @supports not selector(::-webkit-scrollbar) {
      body {
        scrollbar-color: var(--dark-gray) var(--gray);
      }
    }
  }
}

.textCursor {
  animation: flashingSymbol 1s step-start infinite;
}

@keyframes flashingSymbol {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.pacman-scene-wrapper {
  display: block;
  user-select: none;
}

.pacman-scene {
  display: block;
  width: 100%;
  height: 100%;

  image {
    image-rendering: pixelated;
  }
}

input:-webkit-autofill {
  background-color: inherit !important; /* Or any other color */
  color: black !important;
  transition: all 9999s;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
